<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moozik</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <header>
        <h2 class="logo">Moozik</h2>
        <nav class="navigation">
            <a href="#"> Home </a>
            <a href="/about"> About </a>
            <a href="/contact"> Contact </a>
            <a href="/chat/lobby"> Chat </a>
            <a href="/auth" class="active"> Signup </a>
        </nav>
    </header>
    <section class="parallax">

        <img src="img/hill1.png" alt="" id="hill1">
        <img src="img/hill2.png" alt="" id="hill2">
        <img src="img/hill3.png" alt="" id="hill3">
        <img src="img/hill4.png" alt="" id="hill4">
        <img src="img/hill5.png" alt="" id="hill5">
        <img src="img/tree.png" alt="" id="tree">
        <img id="text" height="10px" width="10px" src="img/file.png">
        <img src="img/leaf.png" alt="" id="leaf">
        <img src="img/plant.png" alt="" id="plant">


    </section>
    <section class="sec">
        <h2>Where Music Connects Us All</h2>
        <p id="para1">"Welcome to Moozik,your ultimate destination for the latest and greatest in music.With a library
        boasting over millions songs spanning various languages ,including Hindi,English,Bollywood hits, and regional tracks,
        Moozik ensures you never run out of tunes to groove to. Lets Dive into the world of endless musical possibilities,from
        streaming your favorite tunes to discovering new tracks and podcast. Moozik lets you immerse yourself in the world of music
        anytime,anywhere!"</p>
            <br><br>
    </section>
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-snapchat"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/auth">Signup</a></li>
        </ul>
        <p>&copy; 2024 All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="js/index.js"></script>



    
</body>

</html>